*{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#maindiv1{
    width: 90%;
    margin: auto;
    /* border: 2px solid black; */
    height: 9000px;
    display: flex;
    flex-direction: column;
}
.maintext1{
    width: 100%;
    /* border: 2px solid black; */
    height: 70px;
  display: flex;
}
.text2{
    width: 85%;
    /* border: 2px solid black; */
    height: 70px;
    font-size: 25px;
    font-weight: 300px;
    padding-top: 18px;
    
}
.textleft1{
    width: 15%;
    /* border: 2px solid black; */
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    justify-content: space-between;
    
}
#textshare{
 padding-right: 18px;  
 text-decoration: underline; 
}
#imgfirst{
    width: 100%;
    /* border: 2px solid red; */
    border-radius: 20px;
    height: 550px;
    display: flex;
}
.img1{
    width: 50%;
    height: 550px;
    /* border: 2px solid black; */
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-694055224756906854/original/76f85a0c-b3e2-4f1d-9aa9-d7838f2393c6.jpeg?im_w=720&im_q=highq);
    background-size: cover;
}
.boximg{
    width: 50%;
    height: 550px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    justify-content: space-between;

}
.boximg1{
    width: 49%;
    height: 270px;
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-694055224756906854/original/e9fec6f3-b66f-4156-968a-7cc537c06519.jpeg?im_w=720&im_q=highq);
    background-size: cover;
    margin-left: 8px;
  
}
.boximg2{
    width: 49%;
    height: 270px;
    /* border: 2px solid black; */
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-694055224756906854/original/c963ea36-dc00-4030-9719-34ba4f45ce42.jpeg?im_w=720&im_q=highq);
    background-size: cover;
    margin-left: 8px;
}
.boximg3{
    width: 49%;
    height: 270px;
    /* border: 2px solid black; */
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-694055224756906854/original/98e420b2-c582-4b82-b13f-7338c1e28ce7.jpeg?im_w=720&im_q=highq);
    background-size: cover;
    margin-left: 7px;
}
.boximg4{
    width: 49%;
    height: 270px;
    /* border: 2px solid black; */
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-694055224756906854/original/1b848add-640d-49a9-a3d5-96c19b6ff743.jpeg?im_w=720&im_q=highq);
    background-size: cover;
    margin-left: 7px;
}
#div2sold{
    width: 100%;
    /* border: 2px solid black; */
    height: 200px;
    display: flex;
}
.hostdiv{
    width: 70%;
    /* border: 2px solid black; */
    height: 200px;

}
.hostdiv1{
    width: 80%;
    /* border: 2px solid black; */
    height: 100px;
    padding-top: 15px;
    border-bottom: 2px solid rgb(235, 231, 231);

}
.hostdiv1 >h3{
    font-size: 25px;
    line-height: 35px;
}
.hostdiv2{
    width: 80%;
    /* border: 2px solid black; */
    height: 100px;
    display: flex;
    border-bottom: 2px solid rgb(235, 231, 231);
}
.host1{
  width: 6%;
  /* border: 2px solid black; */
  height: 45px;
  border-radius: 35px;
 margin-top: 20px;
 background-image: url(https://a0.muscache.com/im/pictures/user/cfa4c757-b9d8-479b-bdeb-3a50972f46a4.jpg?im_w=240);
background-size: cover;

}
.host2{
    width: 90%;
    /* border: 2px solid black; */
   height: 100px;
  padding-top: 30px;
  padding: 20px;
  
}
.solddiv{
    width: 30%;
    border: 2px solid rgb(196, 193, 193);
    height: 250px;
margin-top: 20px;
border-radius: 20px;
}
.solddiv P:nth-child(1) {
    padding-left: 80px;
    font-size: 20px;
}
.solddiv1 P:nth-child(3) {
    font-size: 18px;
    margin-top: 20px;
    padding-left: 270px;
}
.solddiv1 P:nth-child(2) {
    padding-top: 20px;
    font-size: 18px;
 
}
.solddiv1{
    width: 100%;
    /* border: 2px solid rgb(211, 206, 206); */
    height: 60px;
    margin-top: 20px;
    border-radius: 15px;
    /* padding-top: 15px; */

}
.solddiv2{
    width: 100%;
    border: 2px solid rgb(136, 133, 133);
    font-size: 25px;
    font-weight: lighter;
    height: 40px;    
    display: flex;
    /* padding-top: 10px; */
    border-radius: 20px;
}
.solddiv2 p:nth-child(1){

    /* border: 2px solid red; */
    font-size: 12px;
    padding-left: 40px;
}
.solddiv2 p:nth-child(2){
    /* width: 50%;
    height: 40px; */
    /* border: 2px solid red; */
    font-size: 12px;
    padding-left: 30px;
}
.requestdiv{
    width: 90%;
    margin: auto;
    /* border: 2px solid red; */
    height: 40px;
    background-color:#e21b5f;
    color: white;
    padding-left: 40px;
    padding-top: 8px;
    margin-top: 10px;
}
#icontextdiv{
    width: 100%;
    /* border: 2px solid red; */
    height: 350px;
}
.icontextdiv1{
    width: 100%;
    /* border: 2px solid red; */
    height: 70px;
    display: flex;
    /* border-top: 2px solid rgb(235, 231, 231); */
}
.stayimg1{
    width: 4%;
    /* border: 2px solid black; */
    height: 60px;
}
.stayimg{
    width: 100%;
    /* border: 2px solid black; */
    height: 60px;
}
.staytext1{
    width: 55%;
    /* border: 2px solid rgb(43, 255, 0); */
    height: 70px;
}
.staytext1 p:nth-child(1){
    padding-top: 20px;
    font-weight: 550;
    margin-left: 30px;
}
.staytext1 p:nth-child(2){
    margin-left: 30px;
    font-size: 15px;
}
.icontextdiv2{
    width: 100%;
    /* border: 2px solid red; */
    height: 70px;
    display: flex;
    
}
.tisharimg1{
    width: 4%;
    /* border: 2px solid black; */
    height: 30px;
    
    /* border-top: 2px solid rgb(235, 231, 231); */
}
.tisharimg2{
    width: 100%;
    /* border: 2px solid black; */
    height: 50px;

}
.tsharitext1{
    width: 52%;
    /* border: 2px solid rgb(43, 255, 0); */
    height: 70px;
    /* border-top: 2px solid rgb(235, 231, 231); */
}
.tsharitext1 p:nth-child(1){
    padding-top: 20px;
    font-weight: 550;
    margin-left: 30px;
}
.tsharitext1 p:nth-child(2){
    margin-left: 30px;
    font-size: 15px;
}
.icontextdiv3{
    width: 100%;
    /* border: 2px solid red; */
    height: 70px;
    display: flex;
}
.cupimg1{
    width: 4%;
    /* border: 2px solid black; */
    height: 35px;
    padding-right: 5px;
    /* border-top: 2px solid rgb(235, 231, 231); */
}
.cupimg2{
    width: 100%;
    /* border: 2px solid black; */
    height: 40px;
    padding-left: 8px;
    padding-top: 10px;
}
.cuptext1{
    width: 52%;
    /* border: 2px solid rgb(43, 255, 0); */
    height: 70px;
    /* border-top: 2px solid rgb(235, 231, 231); */
}
.cuptext1 p:nth-child(1){
    padding-top: 20px;
    font-weight: 550;
    margin-left: 30px;
}
.cuptext1 p:nth-child(2){
    margin-left: 30px;
    font-size: 15px;
}
.icontextdiv4{
    width: 100%;
    /* border: 2px solid red; */
    height: 70px;
    display: flex;
    /* border-bottom: 2px solid rgb(235, 231, 231); */

}
.musicimg1{
    width: 4%;
    /* border: 2px solid black; */
    height: 70px;
    padding-right: 5px;
    border-bottom: 2px solid rgb(235, 231, 231);
   
}
.musicimg2{
    width: 100%;
    /* border: 2px solid black; */
    height: 50px;
    padding-left: 8px;
    padding-top: 20px;
    
}
.musictext1{
    width: 52%;
    /* border: 2px solid rgb(43, 255, 0); */
    height: 70px;
    border-bottom: 2px solid rgb(235, 231, 231);
}
.musictext1 p:nth-child(1){
    font-weight: 550;
    margin-left: 30px;
    padding-top: 20px;
}
.musictext1 p:nth-child(2){
    margin-left: 30px;
    font-size: 15px;
}
#welcometext{
    width: 56%;
    /* border: 2px solid red; */
    height: 970px;
    font-weight: 100;
    border-bottom: 2px solid rgb(235, 231, 231);
}
 #welcometext p:nth-child(3){
 padding-top: 25px;
 line-height: 1.5;
}
 #welcometext p:nth-child(4){
    padding-top: 25px;
    line-height: 1.5;
   }
 #welcometext p:nth-child(5){
    padding-top: 25px;
    line-height: 1.5;
   }
   #welcometext p:nth-child(7){
    padding-top: 25px;
    line-height: 1.5;
   }
   #welcometext p:nth-child(8){
    padding-top: 25px;
    line-height: 1.5;
   }
   #welcometext p:nth-child(15){
    padding-top: 25px;
    line-height: 1.5;
   }
   #welcometext p:nth-child(17){
    padding-top: 25px;
    line-height: 1.5;
   }
   #welcometext p:nth-child(18){
    padding-top: 25px;
    line-height: 1.5;
   }
   #welcometext p:nth-child(19){
    padding-top: 25px;
    line-height: 1.5;
   }
#meahost{
    width: 56%;
    /* border: 2px solid red; */
    height: 640px;
}
.meadiv6{
    width: 100%;
    /* border: 2px solid red; */
    height: 100px;
}
.meadiv6 >p{
    padding-top: 50px;
    font-size: 21px;
    font-weight: 549.5;
}
.retingdiv{
    width: 100%;
    /* border: 2px solid red; */
    height: 260px;
}
.retingtext{
    width: 100%;
    /* border: 2px solid red; */
    height: 180px;
    line-height: 1.5;
   border-bottom: 2px solid rgb(224, 219, 219);
}
.rating{
    width: 55%;
    border: 2px solid rgb(226, 222, 222);
    height: 230px;
    border-radius: 20px;
    display: flex;
}
.rating1{
    width: 70%;
    /* border: 2px solid rgb(175, 52, 52); */
    height: 230px;
}
.rating2{
    width: 25%;
    /* border: 2px solid rgb(58, 136, 44); */
    height: 230px;
}
  .rating2 p:nth-child(1){
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
   
}
.rating2 p:nth-child(2){
    font-size: 10px;
    font-weight: 600;
    padding-top: 8px;
    border-bottom: rgb(110, 106, 106);
}
.rating2 p:nth-child(3){
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
}
#ratingstar{
    font-size: 14px;
}
.rating2 p:nth-child(4){
    height: 40px;
    font-size: 10px;
    font-weight: 600;
    
  }
.rating2 p:nth-child(5){
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px; 
}
.rating2 p:nth-child(6){
    height: 40px;
    font-size: 10px;
    font-weight: 600;
    padding-bottom: 20px;
    font-weight: 600;
    
  }

.ratingimg{
    width: 70%;
    height: 160px;
    /* border: 2px solid black; */
    padding-left: 60px;
    padding-top: 20px;
}
.ratingimg1{
    width: 100%;
    height: 130px;
    /* border: 2px solid rgb(175, 52, 52); */
}
.ratingimg p:nth-child(2){
    font-size: 30px;
    font-weight: 600;
    padding-left: 20px;
    line-height: 40px;
}
.ratingimg p:nth-child(3){
    padding-left: 30px;
}
#mapdiv{
    width: 95%;
    height: 680px;
    /* border: 2px solid red; */
}
.mapdiv1{
    width: 100%;
    height:80px ;
    /* border: 2px solid red; */
    line-height: 50px;
}
.mapdiv1 p:nth-child(1){
    font-size: 22px;
}
.mapdiv1 p:nth-child(2){
    font-size: 17px;
}
.mainmap{
    width: 1140px;
    height: 470px;
    padding-top:30px;

}
.maptext{
    width: 1100px;
    height: 50px;
    /* border: 2px solid red; */
    margin-bottom: 150px;
    font-size: 18px;
}
#highlightsdiv{
    width: 100%;
    height: 200px;
    /* border: 2px solid black; */
    border-bottom: 2px solid rgb(192, 189, 189);

}
#highlightsdiv p:nth-child(1){
    font-size: 22px;
    font-weight: 600;
    padding-top: 30px;
}
#highlightsdiv p:nth-child(2){
    padding-top: 30px;
}
#boxicon{
    width:90%;
    /* border: 2px solid red; */
    /* margin-left: 23px; */
    height: 500px;
    /* margin-top: 20px; */
    border-top: 1px solid rgb(200,200,200);
}

#boxicon img{
    width: 45%;
    /* border: 2px solid red; */
    margin-left: 300px;
}

#boxicon p:nth-child(2){
    font-size: 80px;
    margin-left: 400px;
}

#boxicon p:nth-child(3){
    font-size: 19px;
    width: 50%;
    margin-left: 300px;
    text-align: center;
}
#requestbox{
    width: 90%;
    height: 250px;
    /* border: 2px solid red; */
    border-top: 1px solid rgb(200,200,200);
    /* margin-top: 40px; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between;  */
}

#request1{
    /* border: 1px solid blue;  */
     width: 35%;
    height:250px;
    padding-top: 40px;

}
#request1>i{
    font-size: 35px;
    padding-bottom: 20px;
}

#request2{
    width: 86%;
    
} 
#request2 p:nth-child(1){
    padding-bottom: 10px;
}
 .righttick{
     /* border: 1px solid blue;  */
     width: 32%;
    height:100%;
    padding-top: 40px;
   
}
.righttick>i{
    font-size: 35px;
    padding-bottom: 20px;
}

.rightticktext{
    width: 86%;
} 
.righttick p:nth-child(1){
    padding-bottom: 10px;
}

 .requirement{ 
     /* border: 1px solid blue;  */
    width: 33%;
    height:100%;
    padding-top: 40px;
}
.requirement>i{
    font-size: 35px;
    padding-bottom: 20px;
}

.requirementtext{
    width: 86%; 
 } 
 .requirementtext p:nth-child(1){
    padding-bottom: 10px;
}
#simpletext{
    width: 90%;
    height: 90px;
    /* border: 1px solid blue;  */
    font-size: 13px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(180, 176, 176);
    border-top: 1px solid rgb(214, 211, 211);
}

#thingstoknow{
    /* border: 1px solid red; */
    width: 90%;
    height: 320px;
    display: flex;
    border-bottom: 1px solid rgb(180, 176, 176);
}
.housesafety >p{
    font-size: 22px;
    padding-top: 30px;

}
.housesafety{
    width: 45%;
    /* border: 1px solid red; */
    height: 300px;
    padding-top: 20px;
    
 
}
.houserules{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
.houserules p{
    font-size: 16px;
    line-height: 2.5;
}
.safety{
    width: 45%;
    /* border: 1px solid red; */
    height: 300px;
}

.safety  >P{
    font-size: 18px;
    padding-top: 20px;

}
.safety p:nth-child(1){
    
    padding-top: 100px;
}
.safety p:nth-child(4){
    padding-bottom: 15px;
}
#airbnb{
   width: 100%;
   height: 90px;
   background-color: rgb(247,247,247);
   display: flex;
   align-items: center;
   font-size: 14px;
   border-bottom: 1px solid rgb(200,200,200);

}
#explore{
/* border: 1px solid red; */
width: 90%;
height: 600px;
}
.exploretext{
    /* border: 1px solid red; */
    width: 90%;
    height: 70px;
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
}
#exploreoption{
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.exploreoption1{
    height: 250px;
    width: 30%;
    /* border: 1px solid red; */
   
}
.exploreoption1 p:nth-child(2){
    padding-bottom: 25px;
    
}
.exploreoption1 p:nth-child(4){
    padding-bottom: 25px;
    
}
.exploreoption1 p:nth-child(6){
    padding-bottom: 25px;
    
}
.exploreoption2{
    height: 250px;
    width: 30%;
    /* border: 1px solid red; */
}
.exploreoption2 p:nth-child(2){
    padding-bottom: 25px;
    
}
.exploreoption2 p:nth-child(4){
    padding-bottom: 25px;
    
}
.exploreoption2 p:nth-child(6){
    padding-bottom: 25px;
    
}

.exploreoption3{
    height: 250px;
    width: 30%;
    /* border: 1px solid red; */
}
.exploreoption3 p:nth-child(2){
    padding-bottom: 25px;
    
}
.exploreoption3 p:nth-child(4){
    padding-bottom: 25px;
    
}
.exploreoption3 p:nth-child(6){
    padding-bottom: 25px;
    
}
#othertypes{
    width: 90%;
    font-size: 20px;
}
#othertypes1{
    width: 100%;
    height: 180px;
    /* border: 1px solid red; */
    display: flex;
}
.othertypes2{
    width: 33%;
    height: 180px;
    /* border: 1px solid red; */
}
.othertypes3{
    width: 33%;
    height: 180px;
    /* border: 1px solid red; */
}
.othertypes4{
    width: 34%;
    height: 180px;
    /* border: 1px solid red; */
}
.othertypes2 p:nth-child(1){
    /* font-weight: 550; */
    padding-top: 40px;
    font-size: 16px;

}
.othertypes2 p:nth-child(2){
    /* font-weight: 550; */
    padding-top: 40px;
    font-size: 16px;
}
.othertypes3 p:nth-child(1){
    /* font-weight: 550; */
    padding-top: 40px;
    font-size: 16px;
    padding-left: 10px;

}
.othertypes3 p:nth-child(2){
    /* font-weight: 550; */
    padding-top: 40px;
    font-size: 16px;
    padding-left: 10px;
}
.othertypes4 p:nth-child(1){
    /* font-weight: 550; */
    padding-top: 40px;
    font-size: 16px;

}




@media screen and (min-width: 750px) and (max-width: 1000px){
#maindiv1{
    width: 90%;
}
.maintext1{
    width: 90%;
    height: 60px;
}
/* #imgfirst{
    height: 300px;
    border: 2px soli rgb(214, 3, 3);
} */

.img1{
    width: 40%;
    /* border: 2px soli rgb(214, 3, 3); */
    height: 380;
    background-size: cover;
}
.boximg{
   width: 60%;
   height: 380px;
   /* border: 2px solid yellow; */
}
.boximg1{
    width:50%;
    height: 185px;
    background-size: cover;

}
.boximg2{
    width:50%;
    height: 185px;
    background-size: cover;

}
.boximg3{
    width:50%;
    height: 185px;
    background-size: cover;

}
.boximg4{
    width:50%;
    height: 185px;
    background-size: cover;

}
#imgfirst{
    width: 90%;
    /* border: 2px solid red; */
    border-radius: 20px;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#div2sold{
    width: 90%;
}
.solddiv1{
    width: 100%;
    /* padding-left: 10px; */
}

.solddiv{
    width:30%;
    height: 185px;
    /* border: 2px solid black; */
    display: none;
    
}
.solddiv2{
    width: 100%;
    height: 40px;
    /* border: 2px solid black; */
    font-size: 20px;
    margin-top: 20px;
    
}
.requestdiv{
    width: 100%;
    padding-left: 40px;
}
.host1{
    width: 10%;
}
#icontextdiv{
    height: 300px;
}
#welcometext{
    width: 85%;
    height: 900px;
}
#meahost{
    width: 69%;
}
#mapdiv{
    width: ;
}
.mainmap > iframe {
    width: 80%;
    height: 500px;

}

#highlightsdiv{
    width: 80%;
}
#requestbox{
    width: 92%;
    height: 300px;



}
}
@media screen and (min-width: 550px) and (max-width: 750px){
    #maindiv1{
    width: 90%;
}
.maintext1{
    width: 90%;
    height: 60px;
}
#imgfirst{
    height: 250px;
    /* border: 2px soli rgb(214, 3, 3); */
}

.img1{
    width: 40%;
    /* border: 2px soli rgb(214, 3, 3); */
    height: 380;
    background-size: cover;
}
.boximg{
   width: 60%;
   height: 380px;
   /* border: 2px solid yellow; */
}
.boximg1{
    width:50%;
    height: 185px;
    background-size: cover;

}
.boximg2{
    width:50%;
    height: 185px;
    background-size: cover;

}
.boximg3{
    width:50%;
    height: 185px;
    background-size: cover;

}
.boximg4{
    width:50%;
    height: 185px;
    background-size: cover;

}
#imgfirst{
    width: 90%;
    /* border: 2px solid red; */
    border-radius: 20px;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#div2sold{
    width: 90%;
}
.solddiv1{
    width: 100%;
    /* padding-left: 10px; */
}

.solddiv{
    width:30%;
    height: 185px;
    /* border: 2px solid black; */
    display: none;
    
}
.solddiv2{
    width: 100%;
    height: 60px;
    /* border: 2px solid black; */
    font-size: 20px;
    margin-top: 20px;
    
}
.requestdiv{
    width: 100%;
    padding-left: 40px;
}
.host1{
    width: 15%;
}
#icontextdiv{
    
    height: 350px;
}

#welcometext{
    width: 85%;
    height: 1100px;
}
#meahost{
    width: 69%;
}
.mainmap > iframe {
    width: 80%;
    height: 800px;

}

#highlightsdiv{
    width: 80%;
}
#requestbox{
    width: 100%;
    height: 300px;
    font-size: 15px;
}
#boxicon{
    display: none;
}
}



    @media screen and (max-width : 550px) {
        #maindiv1{
            width: 100%;
            margin: auto;
        }
        .maintext1{
            width: 100%;
            height: 50px;
        }
    
        .img1{
            width: 100%;
            /* border: 2px soli rgb(214, 3, 3); */
            height: 300;
            background-size: cover;
        }
        .boximg{
           display: none;
        }
        
        #imgfirst{
            width: 90%;
            margin-left: 20px;
            /* border: 2px solid red; */
            border-radius: 20px;
            height: 300px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        #div2sold{
            width: 100%;
            height: 250px;
            font-size: 15px;
            /* margin-left: 20px; */
        }
        .hostdiv{
            width: 100%;
        }
        .solddiv1{
            width: 100%;
            /* padding-left: 10px; */
        }
        
        .solddiv{
            width:30%;
            height: 185px;
            /* border: 2px solid black; */
            display: none;
            
        }
        .solddiv2{
            width: 100%;
            height: 60px;
            /* border: 2px solid black; */
            font-size: 20px;
            margin-top: 20px;
            
        }
        .requestdiv{
            width: 100%;
            padding-left: 40px;
        }
        .host1{
            width: 15%;
            height: 60px;
        }
        #icontextdiv{
            width: 100%;
            height: 350px;
        }
        .icontextdiv1{
            width: 100%;
        }
        
        #welcometext{
            width: 85%;
            height: 1200px;
        }
        #meahost{
            width: 90%;
        }
        #mapdiv{
            width: 95%;
            height: 400px;
        }
        .mainmap > iframe {
            width: 40%;
            height: 200px;
        
        }
        
        #highlightsdiv{
            width: 80%;
            height: 350px;
        }
        #requestbox{
            width: 100%;
            height: 300px;
            font-size: 15px;
        }
        #boxicon{
            display: none;
        }
        #thingstoknow{
            width: 100%;
        }
        .safety >p {
            font-size: 15px;
        }
        .maptext{
            display: none;
        }
        }
        